<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"  type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="flex justify-center items-center h-screen bg-gray-100 m-auto" style="max-width: 500px;">
    <div class="container mx-auto p-8">
      <h1 class="text-4xl font-bold mb-8">Exercise Tracker</h1>
      <form action="/api/users" method="post" class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Create a New User</h2>
        <p><code>POST /api/users</code></p>
        <input id="uname" type="text" name="username" placeholder="Username" class="border border-gray-300 rounded-md px-4 py-2 mt-2 w-full" />
        <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4" />
      </form>
      <form action="/api/users/:_id/exercises" id="exercise-form" method="post" class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Add Exercises</h2>
        <p><code>POST /api/users/:_id/exercises</code></p>
        <input id="uid" type="text" name=":_id" placeholder=":_id" class="border border-gray-300 rounded-md px-4 py-2 mt-2 w-full" />
        <input id="desc" type="text" name="description" placeholder="Description*" class="border border-gray-300 rounded-md px-4 py-2 mt-2 w-full" />
        <input id="dur" type="text" name="duration" placeholder="Duration* (mins.)" class="border border-gray-300 rounded-md px-4 py-2 mt-2 w-full" />
        <input id="date" type="text" name="date" placeholder="Date (yyyy-mm-dd)" class="border border-gray-300 rounded-md px-4 py-2 mt-2 w-full" />
        <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4" />
      </form>
      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
    </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });
    </script>
  </body>
</html>
